
{% extends "base.html" %}
{% load static %}
{% block title %}
    Карты
{% endblock title %}
{% block content %}

    {% static 'css' as style %}
    <link rel="stylesheet" href="{{style}}/button.css" />

    <form action="/" method="GET">
    {% csrf_token %}
    <input type="submit" value="На главную" name="cardsButton">
    </form>

    {% if cards.count > 0 %}
    <p style="font-family: cursive;", style="font-size: 14;">
    <h2 class="font1">Список карт</h2>
    <table align="center" class="font1" border="1">
        <tr><th>Id</th><th>Название</th><th>Класс</th><th>Механики</th><th>Тип</th><th>Арт</th></tr>
        {% for card in cards %}
        <tr><td><p style="text-align: center;">{{ card.id }}</p></td>
            <td><p style="text-align: center;">{{ card.name }}</p></td>
        
            {% for class in card.cardclass_set.all %}
                <td><p style="text-align: center;">
                {{class.class_field.name}}
                </p></td>
            {% endfor %}
            <td><table align="center">{% for mechanic in card.cardmechanic_set.all %}
                <tr><td>{{mechanic.mechanic.name}}: {{mechanic.mechanic.description}}</td></tr>
            {% empty %} <h2>-</h2>
            {% endfor %}</table></td>
                {% for type in card.cardtype_set.all %}
                    <td><p style="text-align: center;">
                    {{type.type.name}}
                    </p></td>
                {% endfor %}
        <td>{% static 'cardArts' as static_images %}
        <p style="text-align: center;">
            <IMG src="{{ static_images }}/{{ card.art_path }}.png" width=50% height=50% alt="here must be an image">
        </p></td></tr>
        {% endfor %}
    </table></p>
    {% endif %}
{% endblock %}
