{% extends "base.html" %}
{% load static %}
{% block title %}
    Главная
{% endblock title %}

{% block content %}
    {% static 'css' as style %}
    <link rel="stylesheet" href="{{style}}/button.css" />
    <form method="POST">
        {% csrf_token %}
    <table align="center", class="font1">
        {{ form }}
    </table>
    <input type="submit" value="Подтвердить" >
    </form>

    {% if heroes.count > 0 %}
    <h2 class="font1">Список доступных героев</h2>
    <table align="center" class="font1" border="1">
        <tr><th>Id</th><th>Название</th><th>Сила героя</th><th>Описание класса</th><th>Арт</th></tr>
        {% for hero in heroes %}
            <tr><td>{{ hero.hero.id }}</td>
            <td><p style="text-align: center;">{{ hero.hero.name }}</p></td>
            <td><p style="text-align: center;">{{hero.hero.power.description}}</p></td>
            <td><p style="text-align: center;">{{hero.hero.class_field.feature}}</p></td>
            <td>{% static 'heroArts' as static_images %}
            <p style="text-align: center;">
                <IMG src="{{ static_images }}/{{ hero.hero.art_path }}.png" width=30% height=30% alt="here must be an image">
            </p></td></tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}