{% extends "base.html" %}
{% load static %}
{% block title %}
    Герои
{% endblock title %}

{% block content %}

    {% static 'css' as style %}
    <link rel="stylesheet" href="{{style}}/button.css" />
    <form action="/" method="GET">
    {% csrf_token %}
    <input type="submit" value="На главную" name="cardsButton">
    </form>
    {% if heroes.count > 0 %}
    <h2 class="font1">Список героев</h2>
    <table align="center" class="font1" border="1">
        <tr><th>Id</th><th>Название</th><th>Описание</th><th>Сила героя</th><th>Арт</th></tr>
        {% for hero in heroes %}
        <tr>
            <td>{{ hero.id }}</td>
            <td>{{ hero.name }}</td>
            <td>{{ hero.class_field.feature }}</td>
            <td>{{ hero.power.description }}</td>
        <td>
        {% static 'heroArts' as static_images %}
        <p style="text-align: center;">
            <IMG src="{{ static_images }}/{{ hero.art_path }}.png" width=30% height=30% alt="here must be an image">
        </p></td></tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
