
{% extends "base.html" %}
{% load static %}
{% block title %}
    Главная
{% endblock title %}

{% block content %}
    {% static 'css' as style %}
    <link rel="stylesheet" href="{{style}}/button.css" />
    <form action="cards" method="GET">
    <input type="submit" value="Карты">
    </form>
    <h1></h1>
    <form action="heroes" method="GET">
    <input type="submit" value="Герои">
    </form>
    <h1></h1>
    <form action="decks" method="GET">
    <input type="submit" value="Колоды">
    </form>
    <h1></h1>
    <form action="/" method="GET">
    <input type="submit" value="Выйти">
    </form>
{% endblock %}