<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Card Game</title>
</head>
<body>
    <h1>Веб-приложение карточной игры</h1>
    <form action="auth" method="GET">
    <input type="submit" value="Авторизоваться">
    </form>
    <h1></h1>
    <form action="reg" method="GET">
    <input type="submit" value="Зарегистрироваться">
    </form>
    <h1></h1>
    <form action="cards" method="GET">
    <input type="submit" value="Посмотреть все карты">
    </form>
    <h1></h1>
    <form action="heroes" method="GET">
    <input type="submit" value="Посмотреть всеx героев">
    </form>
</body>
</html>